body{
    text-align: center;
    background-color: silver;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}

img {
    width: 900px;
    height: 500px;
}